html{
    font-family: 'Kanit', sans-serif;
    background-color: #A8D5E2;
}

div {
   /* border: solid 1px black;*/
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;

    color: #104911;
    background-color: #f9a620;
    border-bottom: solid 2px #ffd449;

    font-size: 22px;
    font-weight: bold;

    margin-bottom: 35px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#game-rules {
    display:flex;
    justify-content: center;
    margin-bottom: 35px;
}

#gamebuttons form{
    color: #104911;
    margin-bottom: 35px;
}

#gamebuttons form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #104911;
    margin-bottom: 35px;
}

@media only screen and (min-width: 992px)
{
    #gamebuttons form {
        flex-direction: row;
    }
}

.game-button {
    border: solid 1px black;
    padding: 10px 15px;
    margin: 10px;
    background-color: #FFD449;
}

.game-button:hover {

    background-color: #F9A620;
}

#message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#score-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#choice-labels {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-text {
    margin: 10px;
}

#message-container {

    padding: 10px;
}

#score-container {

    padding: 10px;
}